body {

    background-color: #F7E9DC;

}

.div_all {

    margin: 100px auto;

}


.first_div {



    background-color: #EC755D;
    width: 540px;
    height: 128px;
    margin: 158px auto 27px;
    padding: 20px 31px 20px 0px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;



}

.mb {
    display: inline-block;
    font-size: 20px;
    color: #ffe1e1;
    opacity: .9;
    margin: 6px 20px;



}


.mon {

    margin: 10px 18px 0px;
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    font-family: "myFirstFont";


}


svg {


    position: absolute;
    right: 20px;
    top: 32px;
}




.last_div {




    margin: auto  ;
    border: 1px solid #ffe1e1;
    background-color: #f9f9f9;
    height: 510px;
    width: 540px;

    border-radius: 10px;
    padding: 42px 30px 56px 30px; 
    box-sizing: border-box;
    position: relative;
}

.HW {

    font-size: 25px;
    font-family: myFirstFont;
    font-weight: 100;
    margin: 10px 12px;


}

@font-face {
    font-family: myFirstFont;
    src: url(../font/static/Rubik-Medium.ttf);

}

.main_chart {

    display: block;
    margin-top: 60px ;
    text-align: center;

}


.div1 {
    display: inline-block;
    margin-left: 10px;
    background-color: white;



    height: 43px;
    background-color: #EC755D;
    border-radius: 5px;
    width: 50px;
}

.div2 {
    display: inline-block;
    margin-left: 19px;
    background-color: white;
    height: 96px;
    background-color: #EC755D;
    border-radius: 5px;
    width: 48px;


}

.div3 {
    display: inline-block;
    margin-left: 19px;
    background-color: white;
    height: 148px;
    background-color: #76B5BC;
    border-radius: 5px;
    width: 48px;

}

.div4 {
    display: inline-block;
    margin-left: 19px;
    background-color: white;
    height: 87px;
    background-color: #EC755D;
    border-radius: 5px;
    width: 48px;
}

.div5 {
    display: inline-block;
    margin-left: 19px;
    background-color: white;
    height: 65px;
    background-color: #EC755D;
    border-radius: 5px;
    width: 48px;
}

.div6 {
    display: inline-block;
    margin-left: 19px;
    background-color: white;
    height: 123px;
    background-color: #EC755D;
    border-radius: 5px;
    width: 48px;
}

.div7 {
    display: inline-block;

    margin-left: 19px;

    background-color: white;
    height: 69px;
    background-color: #EC755D;
    border-radius: 5px;
    width: 40px;
}

.div_days {

    margin: 5px;
    margin: -11px;
}


.days1 {
    position: absolute;
    right: 409px;
    display: inline-block;
  font-size: 15px;
   margin-right: 45px;
    font-family: "myFirstFont";
    
    opacity: .5;

}

.days2 {
    position: absolute;
    right: 387px;
    display: inline-block;
    margin-left: 45px;
    font-family: "myFirstFont";
    font-size: 15px;
    opacity: .5;
}

.days3 {
    position: absolute;
    right: 313px;
    display: inline-block;
    margin-left: 45px;
    font-family: "myFirstFont";
    font-size: 15px;
    opacity: .5;

}

.days4 {
    position: absolute;
    right: 243px;
    display: inline-block;
    margin-left: 28.4px;
    font-family: "myFirstFont";
    font-size: 15px;
    font-size: 15px;
    opacity: .5;
}

.days5 {
    position: absolute;
    right: 176px;
    display: inline-block;

    font-family: "myFirstFont";
    font-size: 15px;
    opacity: .5;
}

.days6 {
    position: absolute;
    right: 102px;
    display: inline-block;
    margin-left: 28.4px;
    font-family: "myFirstFont";
    font-size: 15px;           
    opacity: .5;

}

.days7 {
    position: absolute;
    right: 38px;
    display: inline-block;
    margin-left: 28.4px;
    font-family: "myFirstFont";
    font-size: 15px;
    opacity: .5;
}
hr {

    opacity: .5;
    margin: 48px;

}
.span_footer1 {

    font-size: smaller;
    color: #a09a9a;
    opacity: .9;
    font-family: "myFirstFont";
    margin-bottom: 21px;
    position: absolute;
    top: 390px;

}

.span_footer2 {


    margin: 10px 20px;
    font-size: 40px;
    position: absolute;
    font-weight: 300;
    color: #000;
    font-family: "myFirstFont";
    border: 1px solid #ffffff;
    border-radius: 20px;
    top: 409px;

}



.span_footer3 {
    display: inline-block;
    position: absolute;
    top: 422px;
    right: 40px;
    font-size: 15px;
    font-family: "myFirstFont";
    opacity: .8;

}

.span_footer4 {

    display: block;
    position: absolute;
    right: 39px;
    opacity: .4;
    font-family: "myFirstFont";
    top: 449px;

}